@import url('https://fonts.cdnfonts.com/css/gesso');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
    background-color: #004B67;
}
  
  img{
      height: 20px;
      width: 20px;
      color: aliceblue;
  }
  
  .nav{
      background-color: #003D57;
      height: 80px;
      color: #fff;
  }
  
  .nav_container{
      display: flex;
      height: 100%;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
  }
  
  .nav_menu{
      display: grid;
      grid-auto-flow: column;
      gap: 2em;
  
  }

  .photo_img{
    display: none;
  }

  .photo_principal{
    display: none;
  }
  
.nav_item{
    color: #fff;
    text-decoration: none;
    --clippy: polygon (0 0  , 0 0 , 0 100% , 0 0% )
  }
  
  
.nav_input{
    display: none;
}
  
  
.navlabel{
          display: block;
          cursor: pointer;}
  
.nav_menu{
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: rgb(41, 77, 107);
    width: 100vw;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 100% 0 , 100% 0, 0 0 );
    transition: 1s ease-in-out;}
  
.nav_input:checked + .nav_menu{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.datos{
    margin-top: 20px;
}

.d1{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

.about{
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.container_img{
    height: 300px;
    width: 280px;
    border: 1px solid orangered;
    border-radius: 10px;
    background-position: center;
    overflow: hidden;
    box-shadow: 10px 10px 5px;}

.img_2{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    color: aliceblue;
}

p{
    color:aliceblue;
}

h2{
    color: aliceblue;
}

h3{
    color: aliceblue;
}

.box_1{
    border: 1px solid orangered;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.datos1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tittle{
    text-align: center;
}

.container_estudio{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.d3{
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.089), rgba(135, 207, 235, 0.4)), url(./imagen/est\ back.jpg);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.nivel{
    width: 90%;
    border: 1px solid orangered;
    border-radius: 10px;
    box-shadow: 10px 10px 5px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.estudio_general{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 15px;
}

.contact{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.dato_contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_contacto{
    display: flex;
    padding: 20px;
    gap: 10px;
}

.d4{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
   
}

.dato_conocimiento{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.d5{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.container_exper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.dato_exper{
    border: 1px solid orangered;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 10px;
}      

.logo_img{
    border: 1px solid orangered;
    height: 80px;
    width: 80px;
    margin-top: 10px;
}

.img_exp{
    height: 100%;
    width: 100%;

}

.dato_nex2{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer{
    background-image: repeating-linear-gradient(45deg, rgba(0,0,0,0.08),transparent,rgba(0,0,0,0.02),rgba(0,0,0,0.05),rgba(0,0,0,0.01),rgba(0,0,0,0.07),rgba(0,0,0,0.05),rgba(0,0,0,0.02),rgba(0,0,0,0.04),rgba(0,0,0,0.04),rgba(0,0,0,0.02),rgba(0,0,0,0.1),rgba(0,0,0,0.07),rgba(0,0,0,0.02),rgba(0,0,0,0.07) 3px),linear-gradient(135deg, rgb(42, 160, 254),rgb(47, 73, 131));
}

  @media (min-width: 425px){
    .container_exper{
        display: grid;
        grid-template-columns: 180px 180px;
        justify-content: center;
    }
  }
  
   @media (min-width: 768px){
      .about{
        flex-direction: row;
      }

      .container_img{
        width: 300px;
        height: 400px;
        margin-left: 70px;
        margin: 0 auto;
      }

      .about_2{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 80px;
      }

      .estudio_general{
        flex-direction: row;
        height: 300px;
        padding: 20px;
      }
    
     .fa-solid{
        display: none;
     }

     .nav_menu{
        display: flex;
        flex-direction: row;
        cursor: pointer;
        transition: none;
        clip-path: none;
        position: absolute;
        height: 20px;
        align-items: flex-end;
        margin-top: 400px;
        background-color: #004B67;
     }
    
     .nav{
        height: 0px;
     }

    .nav_container{
        height: 500px;
        width: 100%;
    }
     
     .navlabel{
        display: none;
     }
     .nav_logo{
        display: none;
     }

    header{
        height: 500px;
        background-image: url(./imagen/header.png);
        background-size: contain;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
     }

    .banner{
        width:100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .name{
        font-size: 70px;
        color: rgb(128, 128, 128);
        
    }

    .subnombre{
        font-family: 'Gesso', sans-serif;
    }

   .container_exper{
    display: grid;
    grid-template-columns:200px 200px 200px;
    gap: 30px;
    width: 98%;
    margin: 0 auto;
    justify-content: center;
   }

   }
   
   @media (min-width: 1024px){

    .container_exper{
        width: 90%;
        margin: 0 auto;
        gap: 30px;
        display: grid;
        grid-template-columns:300px 300px 300px;

    }
   } 